<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.matrixfrats.syntex">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <permission
        android:name="com.matrixfrats.syntex.permission.MAPS_RECEIVE"
        android:protectionLevel="signature"/>

    <uses-permission android:name="com.matrixfrats.syntex.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permissions.READ_GSERVICES"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Starter" android:theme="@style/AppTheme1" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Login" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Decidingpoint" android:screenOrientation="portrait">
             <intent-filter>
                 <action android:name="com.matrixfrats.decidingpoint"/>
                 <category android:name="android.intent.category.DEFAULT"/>
             </intent-filter>
        </activity>
        <activity android:name=".Searchfriend" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Friendsearched" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Requestsendedtoyou" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.matrixfrats.requestsendedtoyou"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Pairinglist" android:screenOrientation="portrait">
               <intent-filter>
                   <action android:name="com.matrixfrats.pairinglist"/>
                   <category android:name="android.intent.category.DEFAULT"/>
               </intent-filter>
        </activity>
        <activity
            android:name=".Mapfragment"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme1">

        </activity>
        <activity android:name=".Locationaccessedby" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.matrixfrats.locationaccessedby"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Imageupload" android:screenOrientation="portrait">

        </activity>
        <activity android:name=".Sendfeedback" android:screenOrientation="portrait">

        </activity>

        <service android:name=".Appid">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
            </intent-filter>
        </service>
        <service android:name=".Receivingnotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT">

                </action>
            </intent-filter>
        </service>
        <service android:name=".Uploadlatlongservice"></service>

        <receiver android:name=".Rebootreceiver" android:enabled="true"
                  android:exported="true" >
            <intent-filter android:priority="999">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCl4Ld6JK8zESwN23cJouugVIY3_oCms_U"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
    </application>

</manifest>